* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: max-content;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(154, 147, 147);
}

video {
    width: 100%;
    height: 101vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;

}

.container {
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comm {
    background: linear-gradient(134deg, rgb(255 255 255 / 0%), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px;
}

.contain {
    width: 450px;
    height: 570px;
    background: linear-gradient(134deg, rgb(0 0 0 / 32%), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: white;
}

.image {
    grid-area: 2 / 1 / 4 / -1;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.icon {
    width: 7em;
    height: 7em;
}

.degree {
    grid-area: 4 / 1 / 6 / -1;
    font-size: 3em;
    display: grid;
    place-items: center;
    border-radius: 20px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3),
        0px 0px 5px rgba(255, 255, 255, 0.3);
    margin: 4px 70px -17px 70px !important;

}

.sun {
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.country {
    grid-area: 1 / 1 / 2 / -1;
    overflow: hidden;
    display: grid;
    place-items: center;
    font-size: 3em;
    padding-top: 20px;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px 0px 5px rgba(255, 255, 255, 0.3);
}

.day {
    grid-area: 7 / 1 / 7 / -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 34px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3),
        0px 0px 5px rgba(255, 255, 255, 0.3);
}


.maincontain {
    display: grid;
    place-items: center;

}

.inpy {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    width: 40%;
    height: 70%;
    color: white;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    font-weight: 700;
    border: 2px solid black;
}

.search {
    position: relative;
    left: 23%;
    top: -87%;
    width: 45px;
    height: 45px;
    border-radius: 20px;
}

.spec {
    width: 55px;
    border-radius: 100%;
    height: 89%;
    position: relative;
    object-fit: cover;
    left: 23%;
    bottom: 44px;
    background-color: blue;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.cnfy {
    position: relative;
    width: 500px;
    right: 200px;
    bottom: 10px;
    left: 500px;
}

.cnfyT {
    position: relative;
    width: 500px;
    right: 200px;
    bottom: 100px;
    left: 590px;
    color: white;
    font-size: 3em;
    text-shadow: 2px 0px 5px black;
}

.ex {
    font-size: 17px;
    justify-self: start;
    position: relative;
    left: 18%;
    bottom: 110%;
    text-shadow: none !important;

}

.eximg {
    width: 40px;
    height: 25px;
    justify-self: start;
    position: relative;
    left: 10px;
}

/*HELLO HOW ARE YOU THIS IS NEW HERE TO TEST IT */